APP_NAME= # Nome da aplicação (Para o Authenticator)
DATABASE_URL= # String de conexão da base de dados
JWT_SECRET= # Chave secreta do JWT
REDIS_HOST= # Host do Redis
REDIS_PORT= # Porta do Redis
TWO_FACTOR_SECRET_KEY= # Chave secreta do 2Factor
PEPPER_SECRET= # Chave secreta pelo PEPPER Methor
LOG_LEVEL=info